            <div class="hero-unit">
                <h1><%= @message %></h1>
                    <p>O projeto das comunidades terapêuticas visa trazer mais informações sobre as unidades de tratamento
                        e apoio a dependentes, além de dar uma visão geral sobre as drogas e seus perigos, sendo um mecanismo
                        de apoio a qualquer cidadão que deseja sair deste mundo.</p>
                    <h3>Seria uma boa colocarmos algo a mais, porem não sei o que colocar aq...</h3>
                    <p>
                </div>
            </div>


